<%= f.label field.attribute, {class: "col-lg-2 control-label"} %>
<div class="col-lg-6">
  <div class="input-group">
    <div class="input-group-addon">$</div>
    <% if field.respond_to? :readonly? and  field.readonly? %>
      <%= f.text_field field.attribute, {disabled: true, class: "form-control"} %>
    <% else %>
      <%= f.text_field field.attribute, {class: "form-control"} %>
      <% if field.respond_to? :required? and field.required? %>
        <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true" style="color: red; position: absolute; right: 15px; top: 0; line-height: 34px;"></span>
      <% end %>
    <% end %>
  </div>
</div>
