<%= f.label field.attribute, {class: "col-lg-2 control-label"} %>
<div class="col-lg-6">
  <div class="input-group">
    <div class="input-group-addon">$</div>
    <% if field.respond_to? :readonly? and  field.readonly? %>
      <%= f.text_field field.attribute, {disabled: true, class: "form-control"} %>
    <% else %>
      <%= f.text_field field.attribute, {class: "form-control"} %>
    <% end %>
  </div>
</div>
